# ENV
.env
server/.env

# NODE
node_modules
client/node_modules
server/node_modules
client/node_modules/.cache

# FILE UPLOADS
uploads/
server/uploads/

# BUILD FILES
client/build/

# LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS FILES
.DS_Store
Thumbs.db